; Window settings
window.width = 1280
window.height = 720

; Data settings
data.folder = data/

; Camera settings
camera.fov = 100
camera.z_near = 0.5
camera.z_far = 100000
camera.speed = 1000
camera.sensitivity = 0.1
camera.lod_multiplier = 3.0

; Language used
language = portuguese